body {
    background-color: #f0f0f0;
}

header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: darkgreen;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f0f0f0;
    background-color: #adb5da;
}

nav ul li ul.dropdown {
    background-color: #fff;
    position: absolute;
    display: none;
    box-shadow: 0 2px 5px rgba(0,0,0,2);
}

nav ul li:hover ul.dropdown {
    display: block;
}

nav ul li:hover ul.dropdown li {
    display: block;
}

nav ul li:hover ul.dropdown li a {
    padding: 10px 20px;
    color: #3c763a;
    text-decoration: none;
    display: block;
}